<h1>Student Management system</h1>

<table>
    <thead>
        <tr>
            <td>NO</td>
            <td>Name</td>
            <td>City</td>
            <td>edit</td>
            <td>delete</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Santhiya</td>
            <td>Madurai</td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href="" class="delete">delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Santhiya</td>
            <td>Madurai</td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href="" class="delete">delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Santhiya</td>
            <td>Madurai</td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href="" class="delete">delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Santhiya</td>
            <td>Madurai</td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href="" class="delete">delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Santhiya</td>
            <td>Madurai</td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href="" class="delete">delete</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Santhiya</td>
            <td>Madurai</td>
            <td><a href="" class="edit">edit</a></td>
            <td><a href="" class="delete">delete</a></td>
        </tr>
    </tbody>
</table>